@page "/users"
@inject IDialogService DialogService
@inject MudBlazor.ISnackbar Snackbar

<PageTitle>Users</PageTitle>

@if (_loading)
{
    <div class="d-flex justify-center align-center">
        <MudProgressCircular Color="Color.Tertiary" Size="Size.Medium" Indeterminate="true" />
    </div>
}
else
{
    <MudTable Items="@Users" Dense="true" Striped="true" Breakpoint="Breakpoint.Sm">
        <ToolBarContent>
             <div class="d-flex justify-space-between align-center w-100"> 
                <MudText Typo="Typo.h6">Users</MudText>
                <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Secondary" @onclick="ShowCreateDialog">Add new user</MudButton>
             </div>
          </ToolBarContent>
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>First Name</MudTh>
            <MudTh>Last Name</MudTh>
            <MudTh>Email</MudTh>
            <MudTh>Water Intake</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="First Name">@context.FirstName</MudTd>
            <MudTd DataLabel="Surname">@context.Surname</MudTd>
            <MudTd DataLabel="Email">@context.Email</MudTd>
            <MudTd DataLabel="View Water Consumption">
                <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.WaterDrop" Color="Color.Info" Size="Size.Small" OnClick="@(() => NavToWaterIntake(context.Id))">View</MudButton>
            </MudTd>
            <MudTd DataLabel="Actions">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Default" aria-label="edit" Size="Size.Small" OnClick="@(() => ShowEditDialog(context))" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Default" aria-label="delete" Size="Size.Small" OnClick="@(() => DeleteUser(context.Id))" />
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
}