@page "/waterintake/{UserId:int}"
@inject IDialogService DialogService
@inject MudBlazor.ISnackbar Snackbar

<PageTitle>Water Management</PageTitle>

@if (_loading)
{
    <div class="d-flex justify-center align-center">
        <MudProgressCircular Color="Color.Tertiary" Size="Size.Medium" Indeterminate="true" />
    </div>
}
else
{
    <MudTable Items="@WaterIntake" Dense="true" Striped="true" Breakpoint="Breakpoint.Sm">
        <ToolBarContent>
            <div class="d-flex justify-space-between align-center w-100">
                <MudText Typo="Typo.h6">Water Intakes for user @UserName</MudText>
                <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Secondary" @onclick="ShowCreateDialog">Add water intake</MudButton>
            </div>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Intake Date</MudTh>
            <MudTh>Consumed Water (ml)</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Intake Date">@context.IntakeDate.ToShortDateString()</MudTd>
            <MudTd DataLabel="Consumed Water">@context.ConsumedWater</MudTd>
            <MudTd DataLabel="Actions">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Default" aria-label="edit" Size="Size.Small" OnClick="@(() => ShowEditDialog(context))" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Default" aria-label="delete" Size="Size.Small" OnClick="@(() => DeleteRecord(context.Id))" />
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>

    <div class="d-flex justify-center mt-4">
        <MudCard Elevation="4" Class="pa-4 w-100 mx-4">
            <div class="d-flex justify-between align-center w-100">
                <div class="d-flex align-center">
                    <MudIcon Icon="@Icons.Material.Filled.LocalDrink" Size="Size.Medium" Color="Color.Info" Class="me-2" />
                    <MudText Typo="Typo.body1">@UserName has consumed <b>@TotalWaterConsumed</b>ml of water in total</MudText>
                </div>
            </div>
        </MudCard>
    </div>
}